* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.content-center {
    width: 100%;
    max-width: 300px;
    margin: auto;
    background-color: #FFF;
    border-radius: 15px;
    padding: 20px;
}

.content-center .text-center {
    text-align: center;
}

.content-center img {
    width: 200%;
    margin-left: -45%; /* gambiarra por conta da pressa */
}

.content-center form {
    margin: 0px 20px 20px 20px;
}

.content-center input,
.content-center button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input {
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}
.content-center input:focus{
    border-bottom-color: #7fe9ff;
}

.content-center button{
    background-color: #7fe9ff;
}
.content-center button:hover{
    background-color: #498794;
    cursor: pointer;
}
.content-center button:active{
    background-color: #345f68;
}

header a{
    color: #ccc;
    text-decoration: none;
}

header a:visited{
    color: #000;
}
header a:hover{
    text-decoration: underline;
}
header a:focus{
    color: red;
}
header a:active{
    color: yellow;
}
header h1{
    font-size: 2.5em;
    text-align: center;
}

footer {
    font-size: .8em;
    text-align: center;
}